<header class="fixed top-0 left-0 right-0 z-50 py-4 backdrop-blur-md bg-gray-100/80 dark:bg-gray-900/80 border-b border-gray-200 dark:border-gray-800">
      <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <h1 class="text-2xl font-bold text-gray-900 dark:text-white mb-4 sm:mb-0 flex flex-row gap-4">
                <img src="{{ "favicon.png" | relURL }}" alt="Wiley Zhang" class="object-cover w-8 h-auto"/>
                <a href="/" class="text-gray-900 dark:text-white hover:text-gray-600 dark:hover:text-gray-300">
                    {{ site.Title }}
                </a>
            </h1>
            <div class="flex flex-row gap-4 items-center">
                {{ range site.Menus.main }}
                    <nav class="flex space-x-4">
                        <a href="{{ .URL }}"
                        {{ if .Params.external }}target="_blank" rel="noopener noreferrer"{{ end }}
                        class="text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">
                        {{ .Name }}
                        </a>
                    </nav>
                {{ end }}
                <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm">
                    <svg id="theme-toggle-light-icon" class="w-5 h-5 lucide lucide-sun-icon lucide-sun hidden dark:block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/>
                        <path d="m4.93 4.93 1.41 1.41"/>
                        <path d="m17.66 17.66 1.41 1.41"/>
                        <path d="M2 12h2"/>
                        <path d="M20 12h2"/>
                        <path d="m6.34 17.66-1.41 1.41"/>
                        <path d="m19.07 4.93-1.41 1.41"/>
                    </svg>
                    <svg id="theme-toggle-dark-icon" class="w-5 h-5 lucide lucide-moon-icon lucide-moon block dark:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"/>
                    </svg>
                </button>
            </div>
        </div>
      </div>
    </header>